@using BoardGames.Models

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Board Games Kingdom</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/kendo")
</head>
<body>
    <header id="header">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 overflow">
                    <div class="social-icons pull-right">
                        <ul class="nav nav-pills">
                            <li><a href=""><i class="fa fa-facebook"></i></a></li>
                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                            <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                            <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="/">
                        <h1><img src="~/images/logo.png" alt="logo"></h1>
                    </a>

                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li>@Html.ActionLink("Home", "Index", new { area = "", controller = "Home" })</li>
                        <li>@Html.ActionLink("Contact", "Contact", new { area = "", controller = "Home" })</li>
                        <li>@Html.ActionLink("Reviews", "Index", new { area = "Public", controller = "Reviews", page = 1 })</li>
                        <li class="dropdown">
                            <a href="~/Admin/Home">Admin panel <i class="fa fa-angle-down"></i></a>
                            <ul role="menu" class="sub-menu">
                                <li>@Html.ActionLink("Home", "Index", new { area = "Admin", controller = "Home" })</li>
                                <li>@Html.ActionLink("Categories", "Index", new { area = "Admin", controller = "Categories" })</li>
                                <li>@Html.ActionLink("Reviews", "Index", new { area = "Admin", controller = "Reviews" })</li>
                            </ul>
                        </li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
                <div class="search">
                    <form role="form">
                        <i class="fa fa-search"></i>
                        <div class="field-toggle">
                            <input type="text" class="search-form" autocomplete="off" placeholder="Search">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <!--/#header-->

    @RenderBody()

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center bottom-separator">
                    <img src="~/images/home/under.png" class="img-responsive inline" alt="">
                </div>
                <div class="col-md-4 col-sm-6 col-md-offset-1">
                    <div class="testimonial bottom">
                        <h2>Testimonial</h2>
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img src="images/home/profile1.png" alt=""></a>
                            </div>
                            <div class="media-body">
                                <blockquote>Nisi commodo bresaola, leberkas venison eiusmod bacon occaecat labore tail.</blockquote>
                                <h3><a href="#">- Jhon Kalis</a></h3>
                            </div>
                        </div>
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img src="images/home/profile2.png" alt=""></a>
                            </div>
                            <div class="media-body">
                                <blockquote>Capicola nisi flank sed minim sunt aliqua rump pancetta leberkas venison eiusmod.</blockquote>
                                <h3><a href="">- Abraham Josef</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="contact-info bottom">
                        <h2>Contacts</h2>
                        <address>
                            E-mail: <a href="mailto:novkirishki94@gmail.com">novkirishki94@gmail.com</a> <br>
                            Phone: +359 885763330 <br>
                        </address>

                        <h2>Address</h2>
                        <address>
                            Ostri Vrah 2-B-14 <br>
                            Vratsa, 3000 <br>
                            Bulgaria <br>
                        </address>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    @Html.Partial("_MessagePartial", new MessageViewModel())
                </div>
                <div class="col-sm-12">
                    <div class="copyright-text text-center">
                        <p>&copy; Nicky 2014. All Rights Reserved.</p>
                        <p>Development by <a target="_blank" href="https://www.linkedin.com/in/nikolay-novkirishki-23262310a">Nicky</a>. Template designed by <a target="_blank" href="http://www.themeum.com">Themeum</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--/#footer-->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)

    <script>
        $.material.init();
    </script>
</body>
</html>
