@model BoardGames.Areas.Admin.Models.ReviewViewModel

@{
    ViewBag.Title = "Game reviews details";
    ViewBag.Subtitle = "All you need to know";
}

<section id="portfolio-information" class="padding-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img src="~/Files?id=@Model.ImageId" class="img-responsive" alt="">
            </div>
            <div class="col-sm-6">
                <div class="project-name overflow">
                    <h2 class="bold">@Model.GameTitle</h2>
                    <ul class="nav navbar-nav navbar-default">
                        <li><i class="fa fa-calendar"></i>@Model.CreatedOn.ToString("MMMMdd,yyyy")</li>
                        <li><a href="@Url.Action("Index", new { category = Model.CategoryName, page = 1 })"><i class="fa fa-tag"></i>@Model.CategoryName</a></li>
                    </ul>
                </div>
                <div class="project-info overflow">
                    <h3>Game info</h3>
                    <p>@Html.Raw(Model.ContentSanitized)</p>
                </div>
                <div class="skills overflow">
                    <h3>Skills:</h3>
                    <ul class="nav navbar-nav navbar-default">
                        <li><i class="fa fa-users"></i>@Model.MinPlayers-@Model.MaxPlayers</li>
                        <li><i class="fa fa-child"></i>@Model.MinAgeRequired+</li>
                        <li><i class="fa fa-clock-o"></i>@Model.MinPlayingTimeInMinutes+</li>
                    </ul>
                </div>
                <div class="client overflow">
                    <h3>Reviewer:</h3>
                    <ul class="nav navbar-nav navbar-default">
                        <li><a href="#"><i class="fa fa-bolt"></i>@Model.Creator</a></li>
                    </ul>
                </div>
                <div class="live-preview">
                    <a href="@Model.UrlToOfficialSite" class="btn btn-common uppercase">Live preview</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#portfolio-information-->