@model BoardGames.Areas.Admin.Models.ReviewViewModel

@{
    ViewBag.Title = "Reviews";
    ViewBag.Subtitle = "Details";
}

<div>
    <h4>Review</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Category:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            Game title:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameTitle)
        </dd>

        <dt>
            Created:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            Players: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinPlayers) - @Html.DisplayFor(model => model.MaxPlayers)
        </dd>

        <dt>
            Age:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinAgeRequired)+
        </dd>

        <dt>
            Playing time:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinPlayingTimeInMinutes)+
        </dd>

        <dt>
            Creator:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creator)
        </dd>

        <dt>
            Official site:
        </dt>

        <dd>
            <a href="@Html.DisplayFor(model => model.UrlToOfficialSite)">Site</a>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" }) |
    @Html.ActionLink("Back to List", "Index")
</p>
